* {
    box-sizing: border-box;
    text-decoration: none;
}
@font-face {
    font-family: Nunito;
    src: url("/resources/fonts/Nunito/Nunito-SemiBold.ttf");
    font-weight: bolder;
}
@font-face {
    font-family: Nunito-Bold;
    src: url("/resources/fonts/Nunito/Nunito-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: Nunito-Black;
    src: url("/resources/fonts/Nunito/Nunito-Black.ttf");
}
@font-face {
    font-family: Nunito-Regular;
    src: url("/resources/fonts/Nunito/Nunito-Regular.ttf");
    font-weight: normal;
}
header {
    font-family: Nunito;
    font-size: 0.8em;
    color: white;
    background: #333333;
}
main {
    font-family: Nunito;
    font-size: 0.8em;
    color: black;
}
.btn_color_1 {
    background:  #ED1E79 !important;
    font-family: Nunito-Bold !important;
    color: white !important;
    margin-right: 5px !important;
    margin-left: 5px !important;
}
.btn_color_3 {
    background-color: transparent !important;
    border: solid 1px #666666 !important;
    font-family: Nunito-Regular;
    font-size: 0.7rem !important;
}
.btn_color_4 {
    background-color: transparent !important;
    border: solid 1px #d6d6d6 !important;
    font-family: Nunito-Regular;
    font-size: 0.7rem !important;
}
.btn_color_5 {
    background:  #ED1E79 !important;
    font-family: Nunito-Bold !important;
    color: white !important;
    font-size: 0.7rem !important;
}
#profile_show {
    display: flex;
    background: #666666;
    border-radius: 10px;
    align-items: center;
}
#a_link {
    color: white;
    text-decoration: none;
    align-items: center;
    text-size-adjust:inherit;
}
#img_profile {
    margin: 0%;
}
#texto_etiqueta_perfil {
    padding-left: 5px;
    padding-right: 5px;
}
.secciones {
    background: #E6E6E6;
    border-radius: 15px;
    padding: 5px;
    align-items: center;
}
#rigth_align {
    border: 5px solid white;
}
#left_align {
    border: 5px solid white;
}
#center_align {
    border: 5px solid white;
}
.title_card {
    font-family: Nunito-Black;
    margin-top: 5px !important;
}
.tarjeta_1 {
    padding: 8px;
    /*border: #333333 solid 1px;*/
    border-radius: 10px;
    background-color: white;
    margin-bottom: 5px;
}
.tarjeta_2 {
    padding: 8px;
    /*border: #333333 solid 1px;*/
    border-radius: 10px;
    background-color: white;
    margin-bottom: 5px;
}
.margen_interno {
    background:white;
    border-radius: 10px;
    align-items: center;
    border: #d6d6d6 solid 1px;
    max-width: 100% !important;
    max-height: 100% !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    padding: 0% !important;
}
.card_1 {
    width: 100%;
    height: auto;
    margin: 5px !important;
}
#imagen {
    padding: 0% !important;
    width: auto;
}
.margen_interno_comentarios {
    background:white;
    border-radius: 10px;
    align-items: center;
    max-width: 100% !important;
    max-height: 100% !important;
    margin: 0px !important;
    padding: 0% !important;
}
